<div class="container">
  <mat-card class="favoritos-card">
    <h2>Mis Fármacos Favoritos</h2>

    <div *ngIf="favoritos.length === 0">No tienes fármacos guardados.</div>

    <mat-list *ngIf="favoritos.length > 0">
      <mat-list-item *ngFor="let farmaco of favoritos">
        <div class="item">
          <div class="farmaco-info">
            {{ farmaco.nombre_comercial }}
          </div>
          <app-button-bar
            [showDelete]="true"
            [showDetails]="true"
            [fichaUrl]="farmaco.url_ficha_tecnica"
            (delete)="deleteFavorite(farmaco.id_farmaco)"
          />
        </div>
      </mat-list-item>
    </mat-list>
  </mat-card>
</div>
