<mat-toolbar class="toolbar">
  <img
    src="assets/img/vadeclick-icono.png"
    alt="Logo"
    class="navbar-logo"
    routerLink="/"
  />
  <span class="app-title" routerLink="/">VadeClick</span>

  <span class="spacer"></span>

  <ng-container *ngIf="isAuthenticated$ | async; else publicLinks">
    <ng-container *ngIf="(rol$ | async) === 'ADMIN'; else userLinks">
      <a mat-button routerLink="/admin">Panel de administración</a>
      <a mat-button routerLink="/admin/cuenta">Mi cuenta</a>
      <button mat-button (click)="logout()">Cerrar sesión</button>
    </ng-container>
    <ng-template #userLinks>
      <a mat-button routerLink="/dashboard/farmacos">Buscar por fármaco</a>
      <a mat-button routerLink="/dashboard/bacterias">Buscar por bacteria</a>
      <a mat-button routerLink="/dashboard/favoritos">Favoritos</a>
      <a mat-button routerLink="/dashboard/formulas">Fórmulas</a>
      <a mat-button routerLink="/dashboard/info">Info</a>
      <a mat-button routerLink="/dashboard/cuenta">Mi cuenta</a>
      <button mat-button (click)="logout()"><a>Cerrar sesión</a></button>
    </ng-template>
  </ng-container>

  <ng-template #publicLinks>
    <a mat-button routerLink="/login">Iniciar sesión</a>
    <a mat-button routerLink="/register">Registro</a>
    <a mat-button routerLink="/info">Info</a>
  </ng-template>
</mat-toolbar>
