<div class="info-container">
  <h1>¿Qué es VadeClick?</h1>
  <p>
    VadeClick es una aplicación pensada para facilitar la búsqueda, gestión y
    pauta de tratamientos en infecciones complejas. Permite a los usuarios
    realizar busquedas cruzadas cuando nos encontramos antes infecciones
    multibacterianas e incluso filtrar por resistencias. Además, nos da acceso a
    las fichas técnicas de los fármacos, nos permite registrar fórmulas
    magistrales, guardar fármacos favoritos y consultar datos relevantes para el
    ámbito farmacéutico.
  </p>
</div>
