// Palette
$primary-color: #1976d2;
$primary-dark: #115293;
$secondary-color: #64b5f6;

//paleta azules
$navbar: #115293;
$background-body: #d8dee4;
$title: #115293;
$link: #115293;
$footer: #115293;

//paleta rojos
$navbar: #da4136;
$background-body: rgb(251, 213, 213);
$background-body: #fdf1f2;
$title: #b6352b;
$link: #b6352b;
$dark-red:  #490a06;
$footer: rgb(235, 198, 198);

$p-white: #ffffff;

$success-color: #388e3c;
$error-color: #d32f2f;
$warning-color: #fbc02d;

// Grays and background
$background-color: #f5f5f5;
$text-color: #212121;
$card-color: #ffffff;

// Spacing
$spacing-xs: 0.5rem;
$spacing-sm: 1rem;
$spacing-md: 2rem;
$spacing-lg: 3rem;

// Border
$border-radius: 8px;
