<div class="container">
  <mat-card class="register-card">
    <form
      [formGroup]="registerForm"
      (ngSubmit)="onSubmit()"
      class="register-form"
    >
      <h2>Registro</h2>

      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Nombre</mat-label>
        <input matInput formControlName="nombre" required />
      </mat-form-field>

      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Primer Apellido</mat-label>
        <input matInput formControlName="primer_apellido" required />
      </mat-form-field>

      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Segundo Apellido</mat-label>
        <input matInput formControlName="segundo_apellido" required />
      </mat-form-field>

      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Email</mat-label>
        <input matInput type="email" formControlName="email" required />
      </mat-form-field>

      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Contraseña</mat-label>
        <input matInput type="password" formControlName="contraseña" required />
      </mat-form-field>

      <app-button
        text="Registrarse"
        [disabled]="registerForm.invalid"
        (clicked)="onSubmit()"
      ></app-button>

      <div *ngIf="errorMsg" class="error">{{ errorMsg }}</div>

      <div class="login-link">
        ¿Ya tienes cuenta? <a routerLink="/login">Inicia sesión</a>
      </div>
    </form>
  </mat-card>
</div>
