@use "variables" as *;

.perfil-card {
  width: 100%;
  max-width: 400px;
  min-width: 400px;
  margin: 40px auto;
  padding: 24px;
  background-color: white;
  border: 3px solid $footer;

  h2 {
    color: $title;
  }

  .full-width {
    width: 100%;
  }
  
  .btn {
    &:enabled {
      border: 2px solid $title;
      color: $title;
    }
  }
}
