@use "variables" as *;

.farmacos-card {
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  min-width: 1000px;
  min-height: 60vh;
  margin: 2rem auto;
  padding: 1rem 2rem;
  background-color: white;

  h2 {
    color: $title;
  }
  button {
    font-size: 15px;
    padding: 0.5rem;
    background-color: $title;
    cursor: pointer;
  }


}

.form-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}

.full-width {
  width: 80%;
}
