<mat-card class="farmacos-card">
  <h2>Búsqueda de fármaco</h2>

  <form (ngSubmit)="onSearch()">
    <div class="form-container">
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Nombre comercial o principio activo</mat-label>
        <input
          matInput
          placeholder="Ej: Amoxicilina, Ibuprofeno..."
          [(ngModel)]="searchTerm"
          name="search"
          required
        />
      </mat-form-field>

      <app-button
        text="Buscar"
        icon="search"
        [disabled]="!searchTerm"
        (clicked)="onSearch()"
      ></app-button>

      <app-button
        text="Reset"
        icon="close"
        [disabled]="!searchTerm"
        (clicked)="clearSearch()"
      ></app-button>
    </div>
  </form>
  <app-farmacos-list [farmacos]="farmacos"></app-farmacos-list>
</mat-card>
